<!doctype html>
{% block head %}
<title>{% block title %}Welcome{% endblock %} | Skill Sharing Site</title>
<meta charset=utf-8>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type=text/javascript
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}
<div class=box>
  {% block body_title %}
    <h1><span>{{ self.title() }}</span></h1>
  {% endblock %}
  <p class=nav>
    <a href="{{ url_for('index') }}">Home</a> //
    <a href="{{ url_for('login') }}">Login</a> //
    <a href="{{ url_for('register') }}">Register</a> //

  {% for message in get_flashed_messages() %}
    <p class=message>{{ message }}
  {% endfor %}
  {% block body %}{% endblock %}
  <p class=footer>
    &copy; Copyright 2010 - {{ current_year }} by <a href=http://lucumr.pocoo.org/>Armin Ronacher</a>
</div>